/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {





        keymap {
                compatible = "zmk,keymap";







                char_layer {
                        label = "CHAR";


                        bindings = <

			&kp ESCAPE 
			&kp J 
			&kp D 
			&kp U 
			&kp A 
			&kp X 
			&kp P 
			&kp H 
			&kp L 
			&kp M 
			&kp W 
			&kp BACKSPACE 
	
			&sl 6 
			&kp C
			&kp T
			&kp I
			&kp E 
			&kp O 	
			&kp B 
			&kp N 
			&kp R 
			&kp S 
			&kp G 
			&kp ENTER 

			&to 1
			&kp F 
			&kp V 
			&kp MINUS 
			&kp Y 
			&kp Q 
			&kp Z 
			&kp SEMICOLON 
			&kp LEFT_BRACKET 
			&kp SINGLE_QUOTE 
			&kp K 
			&to 0
	
			&sl 3 
			&kp SPACE 
			&sl 2 
			&sl 1 
			&sl 7 
			&sl 4

                        >;
                };





                number_layer {
                        label = "NR";


                        bindings = <

			&kp ESCAPE 
			&kp LG(NUMBER_1)
			&kp LG(NUMBER_2)
			&kp LG(NUMBER_3)
			&kp LG(NUMBER_4)
			&kp LG(NUMBER_5)
			&kp LG(NUMBER_6)
			&kp LG(NUMBER_7)
			&kp LG(NUMBER_8)
			&kp LG(NUMBER_9)
			&kp LG(NUMBER_0)
			&kp BACKSPACE 
	
			&sl 6 
			&kp NUMBER_1
			&kp NUMBER_2
			&kp NUMBER_3
			&kp NUMBER_4
			&kp NUMBER_5
			&kp NUMBER_6
			&kp NUMBER_7
			&kp NUMBER_8
			&kp NUMBER_9
			&kp NUMBER_0
			&kp ENTER 

			&to 1
			&kp LS(NUMBER_7)
			&kp LS(NUMBER_8)
			&kp LS(NUMBER_9)
			&kp LS(RBRC)
			&kp LS(NUMBER_0)
			&kp X
			&kp RBKT
			&kp COMMA
			&kp DOT
			&kp SLASH
			&to 0
	
			&sl 3 
			&kp SPACE 
			&sl 2 
			&none			
			&sl 7 
			&sl 4



                        >;
                };






        };
};